{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'llm/css/style.css' %}">
    <link rel = "icon" href = "{% static 'llm/icon.png' %}" type = "image/x-icon">
</head>
<body>
    <header style="display: flex; justify-content: center; align-items: center; font-family: Brush Script Std;">
        <img src="{% static 'llm/logo.png' %}" alt="Logo" class="image-style">
        <div>
            <h1>Law Language Model</h1>
            <h2 style="color: rgb(210, 210, 210);">LLM</h2>
        </div>
    </header>

    <button id="open-popup">Select Language</button>
    
    <div class="popup-container" id="popup-container">
        <div class="popup" id="popup">
            <p>Select your language</p>
            <div id="targetLanguage">
                <div id="languageOptions">
                    <button id="translate-button" value="en">English</button>
                    <button id="translate-button" value="hi">Hindi</button>
                    <button id="translate-button" value="mr">Marathi</button>
                    <button id="translate-button" value="pa">Punjabi</button>
                    <button id="translate-button" value="gu">Gujarati</button>
                    <button id="translate-button" value="ta">Tamil</button>
                    <button id="translate-button" value="te">Telugu</button>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/write">Write to AI</a></li>
            <li><a href="/ask">Ask AI</a></li>
            <li><a href="/docs">Scan Documents</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <section>
            <h2 style="text-align: center;">Few Examples to Ask</h2>
            <div class="questions">
                <div class="columns">
                    <a href="/write"><div class="question">What are my rights as a citizen?</div></a>
                    <a href="/write"><div class="question">How can I file a complaint?</div></a>
                </div>
                <div class="columns">
                    <a href="/write"><div class="question">How can I access legal aid services?</div></a>
                    <a href="/write"><div class="question">How can I obtain legal documents?</div></a>
                </div>
                <div class="columns">
                    <a href="/write"><div class="question">What are the legal implications of a particular action?</div></a>
                    <a href="/write"><div class="question">How do I change my name on Aadhar card?</div></a>
                </div>
            </div>
        </section>
    
        <section>
            <h2 style="text-align: center;">Legal Topics</h2>
            <div class="columns">
                <div class="column">
                    <h3>Family Law</h3>
                    <p>Family law in India governs legal matters related to marriage, divorce, child custody, adoption, and inheritance, often influenced by religious and cultural diversity.</p>
                    <button class="explore-button">Explore</button>
                </div>
                <div class="column">
                    <h3>Property Law</h3>
                    <p>Property law in India governs the rights and regulations related to the ownership, transfer, and use of real and personal property.</p>
                    <button class="explore-button">Explore</button>
                </div>
                <div class="column">
                    <h3>Labor Law</h3>
                    <p>Labor law in India governs employment relationships, addressing workers' rights, wages, working conditions, and industrial disputes through various legislations and regulations.</p>
                    <button class="explore-button">Explore</button>
                </div>
                <div class="column">
                    <h3>Criminal Law</h3>
                    <p>Criminal law in India encompasses offenses defined in the Indian Penal Code and other statutes, governing punishments for criminal acts.</p>
                    <button class="explore-button">Explore</button>
                </div>
            </div>
        </section>
            
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 spotlight</p>
    </footer>
    
    <script src="{% static 'llm/js/script.js' %}"></script>
</body>
</html>
